In [1]:
#IMPORT MODULES
import pandas as pd
import numpy as np
import re
import mysql.connector as sql
import pymysql
from sqlalchemy import create_engine
import time

In [2]:
def extract_transform_load():
    start_time = time.time()
    file_dir = 'D:\Jobseeking\CAD'
    #Insert your mysql credentials here
    db_name = 'movies'
    db_user = 'root'
    db_pass = 'pass'
    db_host = 'localhost'
    #Read the file as Pandas DataFrames
    df = pd.read_csv(f'{file_dir}/movies.csv', low_memory=False)
    df = df.replace('\n','',regex=True)
    #transform name of the columns to make it more readable
    df.columns= df.columns.str.lower()
    
    #Filter out TV Show
    df = df.drop(df[df[['movies','year']].duplicated()].index)
    df = df.drop(df[df['year'].str.contains('â€“',na=False)].index).reset_index(drop=True)
    
    #-----------------------------------------------------------------------------------------------------------------
    # CLEAN THE DATA
    #-----------------------------------------------------------------------------------------------------------------
    #Handle Missing Values
    mis_col = [column for column in df.columns if df[column].isnull().sum() > 0]
    mis_col.remove('genre')

    #1 Clean the year column
    df['year'] = df['year'].str.extract('(\d+)', expand=False).fillna(-1).astype(int)
    df['year'] = df['year'].replace(-1, np.nan).astype('Int64')
    #2 Clean the votes column
    df['votes'] = df['votes'].str.extract('(\d+)', expand=False).fillna(-1).astype(int)
    df['votes'] = df['votes'].replace(-1, np.nan).astype('Int64')
    #3 Clean the gross column
    df['gross'] = df['gross'].str.extract('(\d+)', expand=False).fillna(-1).astype(int)
    df['gross'] = df['gross'].replace(-1, np.nan).astype(float)
    #4 Clean the genre column
    df['genre'] = df['genre'].str.strip()
    df['genre'] = df['genre'].str.split(', ')
    #5 Clean the star column
    stars = df['stars']
    stars = stars.str.split('|',expand=True)
    stars.rename({0:'director',1:'cast'},axis='columns',inplace=True)
    temp = stars[stars['director'].str.contains('Star',na=False)]['director'].copy()
    no_direct = list(stars[stars['director'].str.contains('Star',na=False)].index) #film with no director info
    stars.iloc[no_direct] = np.nan
    stars['cast'].iloc[no_direct] = temp
    #removing 'director(s):' and 'star(s):'
    stars['director'] = stars['director'].str.replace(r'    Director:|    Directors:','',regex=True)
    stars['cast']     = stars['cast'].str.replace(r'     Star:|     Stars:','',regex=True)
    stars['director'] = stars['director'].str.strip()
    stars['cast']     = stars['cast'].str.strip()
    df['director']    = stars['director'].str.split(', ')
    df['cast']        = stars['cast'].str.split(', ')
    df = df.drop('stars',axis='columns')
    
    #Create an engine for inserting dataframe into mySQL database
    engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                           .format(user=db_user,
                                   pw=db_pass,
                                   db=db_name))
    
    #-----------------------------------------------------------------------------------------------------------------
    # MOVIE TABLE
    #-----------------------------------------------------------------------------------------------------------------
    movie_columns = ['movies','year','rating','one-line','votes','runtime','gross']
    movie_df = df[movie_columns]
    movie_df.rename({'movies':'title','one-line':'description','votes':'vote_count',
                     'runtime':'running_time_minutes', 'gross':'gross_millions'},
                      axis='columns', inplace=True)
    #Insert Movie Table
    movie_df.to_sql('movie', con = engine, if_exists = 'append', chunksize = 5000,index=False)
    
    #-----------------------------------------------------------------------------------------------------------------
    # GENRE TABLE
    #-----------------------------------------------------------------------------------------------------------------
    #Getting all different genres
    genre_name = df['genre'].explode('genre').drop_duplicates()
    genre_name = genre_name.reset_index(drop=True)
    genre_name = pd.DataFrame({'genre_name':list(genre_name)}).dropna().drop_duplicates()
    genre_name.to_sql('genre', con = engine, if_exists = 'append', chunksize = 1000,index=False)
    
    #-----------------------------------------------------------------------------------------------------------------
    # PERSON TABLE
    #-----------------------------------------------------------------------------------------------------------------
    #Getting all different names
    name = df['cast'].explode('cast').drop_duplicates()
    name = name.append(df['director'].explode('director').drop_duplicates())
    name = name.drop_duplicates().reset_index(drop=True)
    name = pd.DataFrame({'name':list(name)}).dropna().drop_duplicates()
    #Insert person table
    name.to_sql('person', con = engine, if_exists = 'append', chunksize = 5000,index=False)
    
    #Query for selecting movie table
    db_con = sql.connect(host=db_host, database=db_name, user=db_user, password=db_pass)
    try:
        SQL_Query = pd.read_sql_query(
            '''select
              *
              from movie''', db_con)

        mov_df = pd.DataFrame(SQL_Query, columns=['ID', 'title','year'])
    except:
        print("Error: unable to convert the data")
    db_con.close()
    #-----------------------------------------------------------------------------------------------------------------
    # MOVIE_GENRE TABLE
    #-----------------------------------------------------------------------------------------------------------------
    #Setting up the movie_genre(mg) dataframe/table
    mg = df[['movies','year','genre']].explode('genre')

    #Query for genre table
    db_con = sql.connect(host=db_host, database=db_name, user=db_user, password=db_pass)
    try:
        SQL_Query = pd.read_sql_query(
            '''select
              *
              from genre''', db_con)

        temp = pd.DataFrame(SQL_Query, columns=['ID', 'genre_name'])
        #print(temp)
    except:
        print("Error: unable to convert the data")
    db_con.close()
    
    #Get movieID and genreID based on title,year, and genre_name
    temp = temp.drop_duplicates(subset=['genre_name']).set_index('genre_name')
    mg['genreID'] = mg.genre.map(temp['ID'].to_dict()).astype('Int64')
    mov_ge_df = mov_df.drop_duplicates(subset=['title','year']).set_index(['title','year'])
    mg['movieID'] = pd.Series(list(zip(mg.movies,mg.year))).map(mov_ge_df['ID'].to_dict())
    mg = mg[['movieID','genreID']].drop_duplicates(subset=['movieID','genreID'])
    mg = mg.drop(list(mg[mg.genreID.isna()].index),axis='rows')
    #Insert movie genre table
    mg.to_sql('movie_genre', con = engine, if_exists = 'append', chunksize = 5000,index=False)
    
    #-----------------------------------------------------------------------------------------------------------------
    # MOVIE_PEOPLE TABLE
    #-----------------------------------------------------------------------------------------------------------------
    #Setting up the movie_people(mp) dataframe/table
    mp = df[['movies','year','cast']].explode('cast').rename({'cast':'person'},axis='columns')
    mp['profession'] = 'cast'
    temp = df[['movies','year','director']].explode('director').rename({'director':'person'},axis='columns')
    temp['profession'] = 'director'
    mp = mp.append(temp).reset_index()
    mp = mp.drop(list(mp[mp.person.isna()].index),axis='rows').reset_index(drop=True)

    #Query for person table
    db_con = sql.connect(host=db_host, database=db_name, user=db_user, password=db_pass)
    try:
        SQL_Query = pd.read_sql_query(
            '''select
              *
              from person''', db_con)

        temp = pd.DataFrame(SQL_Query, columns=['ID', 'name'])
    except:
        print("Error: unable to convert the data")
    db_con.close()

    #Get movieID and PersonID based on title,year, and person name
    temp = temp.drop_duplicates(subset=['name']).set_index('name')
    mp['personID'] = mp.person.map(temp['ID'].to_dict())
    mov_df = mov_df.drop_duplicates(subset=['title','year']).set_index(['title','year'])
    mp['movieID'] = pd.Series(list(zip(mp.movies,mp.year))).map(mov_df['ID'].to_dict())
    mp = mp[['movieID','personID','profession']].drop_duplicates(subset=['movieID','personID','profession'])
    #Insert movie person table
    mp.to_sql('movie_people', con = engine, if_exists = 'append', chunksize = 5000,index=False)
    print(f'This ETL took {time.time() - start_time} seconds to run')

extract_transform_load()

C:\Users\Windows X\.conda\envs\Project\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

This ETL took 8.085044622421265 seconds to run